* body {
    font-family: 'Open Sans', sans-serif;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 150px;

}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
   
}

nav a {
    text-decoration: none;
    color: #474747;
    font-size: 20px;
    font-weight: 400;
}

#title-heading {
    color: #181818;
    font-size: 45px;
    font-style: normal;
    font-weight: 800;

}

.mary {
    color: #FD6E0A;
}

.btn-primary {
    border-radius: 5px;
    background-color: #FD6E0A;
    border: 0;
    font-weight: 700;
    font-size: 20px;
    color: white;
    padding: 18px 35px;
}
header{
  background-color: #FFF8F3;  
}
.banner{
    display: flex;
    justify-content: space-between;
    padding-left: 150px ;
    align-items: center;
}