* body{
    font-family: 'Open Sans', sans-serif;
}
nav{
    display: flex;
    align-items: center;
}
nav ul{
   display: flex; 
   
}
nav li{
    list-style: none ;
    margin-right: 50px; 
}
nav a{
    text-decoration: none;
}

#title-heading{
    color: #181818;
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
  
}

.mary{
    color: #FD6E0A;
} 
 
.btn-primary {
    border-radius: 5px ;
    background-color: #FD6E0A;
    border-color: rgb(255, 255, 255);
}